body{

    font-family: 'Zen Tokyo Zoo', cursive;
    margin: 0;
}

.section-1{

    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 120px;
    padding-left: 5%;
   
}

.half-width{

    width: 50%;
    padding-left: 10px;

}

.half-width-p{

    text-align: justify;
}

h1{

    font-size: 50px;
}

.short-color{
    color: tomato;
}

.half-width img{


    width: 75%;
    margin-left: 50px;
}

.half-width-img{

  border-radius: 50%;
    
}

.hyper-design{

   text-decoration: none;
   background-image: linear-gradient(salmon, tomato);
   padding: 10px 40px;
   border-radius: 8px;
   color: white;
   font-weight: 700;
}



.section-2{

    display: flex;
    background-image: url(dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 90px;
    padding-left: 5%;
   
}

.half-width-p1{

    text-align: justify;
    padding-right: 10px;
    margin-right: 20px;
}
